header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #e2f1f0;
    border-radius: 15px;
    padding: 0 100px;
    grid-area: "header"
}
.nav-box {
    display: flex;
    direction: ltr;
    justify-content: space-around;
}
.nav-box > a {
    padding: 0 10px;
}
.container {
    display: grid;
    grid-template-columns: 350px 600px;
    grid-template-areas: "side main";
}
body {
    background-color: #B7DBD9;
    font-family: "Noto Sans CJK JP";
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-areas: "header"
                         "main"
                         "footer";
}
main {
    display: flex;
    justify-content: space-around;
    background-color: #CBE5E2;
    padding: 15px;
    margin: 50px auto;
    border-radius: 10px;
    max-width: 980px;
    grid-area: "main"
}
.recipe {
    background-color: #E5F1F1;
    padding: 15px;
    border-radius: 10px;
}
aside {
    grid-area: "side";
}
#pickup1 {
    background-color: #CDE2ED;
    margin-bottom: 10px;
}
#pickup2 {
    background-color: #FFF2CD;
}
#main-img {
    background-color: #F4CCCC;
}
footer {
    display: flex;
    justify-content: flex-end;
    grid-area: "footer"
}